# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
aclocal.m4
autom4te*
build-deps
build/*
configure
config.cache
config.log
config.status
depcomp
install-sh
include/SDL_config.h
libtool
Makefile
Makefile.in
mkinstalldirs
missing
sdl-config
SDL.spec
sdl.pc
SDL.qpg
syntax:glob
.DS_Store
.*
*.o
*.o.*
*.patch
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo

#
# Debian directory (make deb-pkg)
#
/debian/

# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

*.orig
*.rej
*~
\#*#
