# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
aclocal.m4
autom4te*
build-deps
build/*
configure
config.cache
config.log
config.status
depcomp
install-sh
include/SDL_config.h
libtool
Makefile
Makefile.in
mkinstalldirs
missing
sdl-config
SDL.spec
sdl.pc
SDL.qpg
syntax:glob
test/aclocal.m4
test/autom4te*
test/config.cache
test/config.log
test/config.status
test/configure
test/Makefile
test/SDL.dll
test/stdout.txt
test/stderr.txt
test/checkkeys
test/graywin
test/loopwave
test/testpower
test/testalpha
test/testbitmap
test/testblitspeed
test/testcdrom
test/testdyngl
test/testerror
test/testfile
test/testgamma
test/testgl
test/testhread
test/testiconv
test/testjoystick
test/testkeys
test/testlock
test/testoverlay
test/testoverlay2
test/testpalette
test/testplatform
test/testsem
test/testsprite
test/testtimer
test/testver
test/testvidinfo
test/testwin
test/testwm
test/threadwin
test/torturethread
test/testcursor
test/testloadso
test/*.exe
test/*.dSYM
.DS_Store
.*
*.o
*.o.*
*.patch
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo

#
# Debian directory (make deb-pkg)
#
/debian/

# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

*.orig
*.rej
*~
\#*#
